.login-wrapper {
    background-image: url(/webui/assets/images/AnnualDay.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right center;
  }
  /*
  .login-wrapper .login {
    min-height: 70vh;
  }
  */