<div class="login-wrapper">
    <form class="login" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            <span class="trademark">
                <img src="assets/images/Oysters-logo.jpg" width="80" height="80">
            </span>
            Web Portal
        </section>
        
        <div class="login-group">
            <clr-input-container>
                <label class="clr-sr-only" for="username">Username</label>
                <input type="text" autocomplete="current-username" name="username" clrInput placeholder="Enter User ID" formControlName="username" />
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only" for="password">Password</label>
                <input type="password" autocomplete="current-password" name="password" clrPassword placeholder="Enter Password" formControlName="password" />
            </clr-password-container>
            
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Login</button>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
    </form>
</div>
