
<clr-datagrid>
    <clr-dg-column>Grievance ID</clr-dg-column>
    <clr-dg-column>Grievance Type</clr-dg-column>
    <clr-dg-column>Grievance Description</clr-dg-column>
    <clr-dg-column>Created On</clr-dg-column>
    <clr-dg-column>Priority</clr-dg-column>
    <clr-dg-column>Resolution</clr-dg-column>

    <clr-dg-row *clrDgItems="let grievance of grievances.tickets" [clrDgItem]="grievance">
        <clr-dg-cell>{{grievance.ticketid}}</clr-dg-cell>
        <clr-dg-cell>{{grievance.grievancetype}}</clr-dg-cell>
        <clr-dg-cell>{{grievance.grievancedescription}}</clr-dg-cell>
        <clr-dg-cell>{{grievance.createdon}}</clr-dg-cell>
        <clr-dg-cell>{{grievance.priority}}</clr-dg-cell>
        <clr-dg-cell>{{grievance.resolution}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
		<clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems] = "grievances.tickets.length">
			<clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Grievance Per Page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} Grievances
        </clr-dg-pagination>
    </clr-dg-footer>

    <clr-dg-detail *clrIfDetail="let grievance">
        <clr-dg-detail-header>Resolution</clr-dg-detail-header>
        <clr-dg-detail-body>
            <clr-datagrid>
                <clr-dg-column>Reason</clr-dg-column>
                <clr-dg-column>Updated By</clr-dg-column>
                <clr-dg-column>Updated On</clr-dg-column>

                <clr-dg-row *clrDgItems="let elm of grievance.resolutiondetails" [clrDgItem]="elm">
                    <clr-dg-cell>{{elm.reason}}</clr-dg-cell>
                    <clr-dg-cell>{{elm.updatedby}}</clr-dg-cell>
                    <clr-dg-cell>{{elm.updatedon}}</clr-dg-cell>
                </clr-dg-row>
                <clr-dg-footer>
                    <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems] = "grievance.resolutiondetails.length">
                        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Resolution per page</clr-dg-page-size>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} Resolution
                    </clr-dg-pagination>
                </clr-dg-footer>
            </clr-datagrid>
        </clr-dg-detail-body>
    </clr-dg-detail>

</clr-datagrid>
