<!--<app-login *ngIf="selectedItem== 'login'"></app-login>-->

<clr-main-container>
  <clr-header class="branding">
    <span>
      <img src="assets/images/Oysters-logo.jpg" width="80" height="59">
    </span>
    
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
            <cds-icon shape="cog"></cds-icon>
            <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="..." clrDropdownItem>About</a>
          <a href="..." clrDropdownItem>Preferences</a>
          <a href="..." clrDropdownItem>Log out</a>
      </clr-dropdown-menu>
  </clr-dropdown>
    </div>
  </clr-header>

  <nav class="subnav" [clr-nav-level]="1" >
    <ul class="nav" style="margin-left: 20%; cursor: pointer;">
      <li class="nav-item" *ngFor="let menu of menubar.keys()">
        <a class="nav-link" clrVerticalNavLink [class.active] = "selectedItem == menu" (click)="onClick(menu)" style="font-size: 18px;">{{menu}}</a>
      </li>
    </ul>
  </nav>
  <div [ngSwitch]="selectedItem">
    <app-vnavbar-account *ngSwitchCase="'Account'"></app-vnavbar-account>
    <app-gvnabbar *ngSwitchCase="'Grievances'"></app-gvnabbar>
  </div>
</clr-main-container>

<router-outlet></router-outlet>
