<!--
<clr-main-container>
  <clr-header>
      ...
      <div class="header-nav" [clr-nav-level]="1">
          ...
      </div>
      ...
  </clr-header>
  <div class="content-container">
      <main class="content-area">
          ...
      </main>
      <clr-vertical-nav [clr-nav-level]="2">
          ...
      </clr-vertical-nav>
  </div>
</clr-main-container>
-->


<clr-main-container>
  <clr-header class="branding">
    Branding
    <label>Test123</label>
    
  </clr-header>
  <nav class="subnav" [clr-nav-level]="1">
      Naushad Ahmed
  </nav>
  <app-vnavbar-account></app-vnavbar-account>
    <!--
  <div class="content-container">
      <main class="content-area">
        <app-vnavbar-account></app-vnavbar-account>    
      </main>
  
      <clr-vertical-nav [clr-nav-level]="2">
          ...
      </clr-vertical-nav>
      
      
  </div>
  -->
</clr-main-container>

<!--<app-login></app-login>-->
<!--<app-create-account></app-create-account>-->
<!--<app-vnavbar-account></app-vnavbar-account>-->
<router-outlet></router-outlet>
