
<form clrForm clrLayout="vertical" [formGroup]="loggrievanceForm" (ngSubmit)="onSubmit()">
    <div class="clr-container">
        <!-- First ROW -->
        <div class="clr-row">
            <!--element 1-->
            <div class="clr-col-6 clr-col-lg">
                <clr-textarea-container>
                    <label for="grievancetype">Grievance (Problem Type)</label>
                    <textarea clrTextarea name="grievancetype" rows="8" cols="50" formControlName="grievancetype"></textarea>
                </clr-textarea-container>
            </div>
            <div class="clr-col-6 clr-col-lg">
                <clr-textarea-container>
                    <label for="grievancedescription">Grievance Details</label>
                    <textarea clrTextarea name="grievancedescription" rows="8" cols="50" formControlName="grievancedescription"></textarea>
                </clr-textarea-container>

            </div>
            <div class="clr-col-6 clr-col-lg">
                
            </div>
            <div class="w-100"></div>
            <div class="clr-col-6 clr-col-lg">
                <clr-select-container>
                    <label for="priority">Priority</label>
                    <select clrSelect name="priority" formControlName="priority">
                        <option [value]="priority" *ngFor="let priority of priorities">{{priority}}</option>
                    </select>
                </clr-select-container>
            </div>

            <div class="clr-col-6 clr-col-lg">
                <clr-input-container>
                    <label for="createdon">Grievance Created On</label>
                    <input clrInput type="date" name="createdon" formControlName="createdon">
                </clr-input-container>
            </div>
            <div class="clr-col-6 clr-col-lg">
                <clr-input-container>
                    <label for="createdby">Grievance Created By</label>
                    <input clrInput name="createdby" formControlName="createdby">
                </clr-input-container>
            </div>
        </div>
    </div>
    <div>
        <cds-button class="btn btn-primary">Create Grievance</cds-button>
    </div>
</form>