<div class="main-container">
    <div class="content-container">
        <clr-vertical-nav *ngFor="let vnav of vnavs">
            <a class = "nav-link nav-text" [class.active] = "" (click)="onClick(vnav)"><cds-icon clrVerticalNavIcon shape="new"></cds-icon><b>Create Account</b></a>
            <a class = "nav-link nav-text" [class.active] = "" ><cds-icon clrVerticalNavIcon shape="new"></cds-icon><b>Update Account</b></a>
            <a class = "nav-link nav-text" [class.active] = "" ><cds-icon clrVerticalNavIcon shape="new"></cds-icon><b>List Account</b></a>
        </clr-vertical-nav>
        <div class="content-area">
            <app-create-account></app-create-account>
            <app-list-account></app-list-account>
            <app-update-account></app-update-account>
        </div>
    </div>
</div>