
<div class="main-container">
    <div class="content-container">
        <clr-vertical-nav>
            <a style="cursor: pointer" *ngFor="let vnav of vnavs" class = "nav-link nav-text" [class.active] = "selectedItem == vnav" (click)="onClick(vnav)"><b>{{vnav}}</b></a>
        </clr-vertical-nav>
        <div class="content-area" [ngSwitch]="selectedItem">
            <app-log-grievance *ngSwitchCase="'Create Grievance'"></app-log-grievance>
            <app-update-grievance *ngSwitchCase="'Update Grievance'"></app-update-grievance>
            <app-list-grievance *ngSwitchCase="'Status Grievances'"></app-list-grievance>
        </div>
    </div>
</div>